/* Batch Style Conditions */

.card-status {
    background-color: #d7fcde;
}

.btn-status {
    background: #4A4B4B;
}
.btn-status:hover {
    background-color: red;
}

.details-btn,
    .details-btn:hover {
    background: #0d6efd;
}

#tag-img{
    width: 20px;
    height: 20px;
    margin: 2px;
}

#card-img {
    height: 300px;
    width: 300px;
}
/* Batch Details */
.batch-details {
    width: 80%;
}

.notes-labels {
    font-weight: bold;
}

.card-footer {
    margin-top: 50px;
}

.scroll {
    max-height: 700px;
    overflow-y: auto;
}