/* Form Box */
.form-box{
    background-color: #C9C9C9;
    width: 35%;
    height: 70%;
    padding: 50px;
    margin: 100px auto;
    border-radius: 20px;
}

.logIn {
    padding-bottom: 20px;

}
.texts {
    font-size: 24px;

}

.text-input{
    border-radius: 22px;
    margin-bottom: 35px;
    width: 100%;
    height: 64px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}
#username{
    padding-left: 40px;
}
#password{
    padding-left: 40px;
}

.login-btn{
    margin: 20px;
    width: 60%;
    height: 60px;
    border-radius: 20px;
    background: #198754;
    color: white;
    font-size: 24px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

/* Squares */
.square1 {
    position: absolute;
    width: 60%;
    height: 80%;
    left: -300px;
    top: -180px;
    background: #6FEF74B8;
    border-radius: 80px;
    transform: rotate(-45deg);
    z-index: -2;
}

.square2{
    position: absolute;
    width: 60%;
    height: 80%;
    right: -360px;
    top: 300px;
    background: #02C616;
    border-radius: 80px;
    transform: rotate(-45deg);
    z-index: -2;
}