/*.main-container {
    background-color: red;
}*/

.signup {
    background-color: lightgreen;
    border: 2.5px solid black;
    border-radius: 2%;
    width: 70%;
}

.body {
    background-color: grey;
}

#firstline {
    font-size: 1.5em;
}

#FirstName, #LastName, #InputEmail, #InputPassword, #InputPhoneNumber {
    text-align: left;
}